html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}
a {
	color: #EBFF81;
	text-decoration: none;
}
a:hover {
	color: #F0FCB4;
}
.container {
	max-width: 310px;
}
.slide-container {
	text-align: center;
}
.row {
	margin: 0px;
	padding: 0px;
}
/*headings*/

/* slides */

#slide2, #slide3, #slide4 {
	margin-top: -20px;
	padding: 30px 0 0 0;
}
#slide1 {
	color: #222;
	width: 100%;
	min-height: 500px;
	padding-top: 200px;
	background-color: #f1dfcf;
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	-webkit-background-size: 1500px;
	-moz-background-size: 1500px;
	-o-background-size: 1500px;
	background-size: 3000px;
}
#slide1 h1 {
	font-size: 56px;
	font-weight: bold;
}
#slide1 h2 {
	font-size: 32px;
	margin-top: -5px;
}
#slide2 {
	color: #fff;
	width: 100%;
	min-height: 350px;
	background-color: #f0f0f1;
}
p {
	font-size: 27px;
	font-weight: lighter;
	line-height: 1.2;
	color: #818181;
}
#slide2 h1 {
	text-align: center;
	color: #4c4c4c;
}
#slide3 {
	color: #FFF;
	width: 100%;
	min-height: 500px;
	background-color: #4c4c4c;
}
#slide4 {
	color: #FFF;
	width: 100%;
	min-height: 750px;
	background-color: #1b7990;
}
h1 span, h2 span {
	color: #000;
	background-color: #fff;
	padding: 3px 15px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#footer {
	font-size: 20px;
	font-weight: 200;
	color: #FFF;
	width: 100%;
	padding: 40px;
	height: 100px;
	background-color: #4c4c4c;
}
#logo {
	width: 225px;
	height: 293px;
	margin-bottom: 44px;
	margin: 0 auto;
	background-image: url('../images/pin-lgo.png');
}
.navbar-fixed-top {
	opacity: 0.97;
}
.navbar-inverse {
	font-size: 18px;
	font-weight:200;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.75);
}
.navbar-inverse .navbar-brand {
	display: none;
	color: #333;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
 -0-transition: all .2s ease;
	transition: all .2s ease;
}
.navbar-inverse .navbar-brand:hover {
	color: #777;
}
.navbar-inverse .navbar-brand:focus {
	color: #000000;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
	color: #333;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
 -0-transition: all .2s ease;
	transition: all .2s ease;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #777;
}
.navbar-inverse .navbar-nav > li > a:focus {
	color: #000000;
	background-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border-color: #cecece;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #F1F1F1;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #CECECE;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #cecece;
}

/*group sections*/
#wrapper {
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
}
#wrapper h1 {
	font-size: 46px;
	font-weight: 400;
	margin-top: 150px;
}
#wrapper a {
	color: #fff;
	text-decoration: none;
}
#first, #second, #third, #fourth {
	background-size: cover;
	background-position: center;
	padding: 0 10px;
	opacity: 0.9;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
 -0-transition: all .2s ease;
	transition: all .2s ease;
}
#first:hover, #second:hover, #third:hover, #fourth:hover {
	opacity: 1;
}
#description {
	font-size: 25px;
	font-weight:200;
}
#first {
	width: 50%;
	height: 400px;
	float: left;
	background-color: #bbbbbb;
}
#second {
	height: 400px;
	overflow: hidden;
	background-color: #a9a9a9;
}
#third {
	width: 50%;
	height: 400px;
	float: left;
	background-color: #929292;
}
#fourth {
	height: 400px;
	overflow: hidden;
	background-color: #848383;
}
#first:hover {
	background-color: #2edabc;
}
#second:hover {
	background-color: #B9194C;
}
#third:hover {
	background-color: #199DB6;
}
#fourth:hover {
	background-color: #E7C126;
}

/*mobile*/
 @media (max-width: 767px) {

.container {
	max-width: 100%;
}
.navbar-inverse .navbar-brand {
	display:block;	 
}
}
 @media (max-width: 700px) {
#first, #second, #third, #fourth {
	float: left;
	width: 100%;
	opacity: 1;
	height: 350px;
	padding: 100px 10px;
}

#wrapper h1 {
	font-size: 36px;
	margin-top: 0px;
}
}
 @media (max-width: 500px) {
#slide1 {
	min-height: 400px;
	padding-top: 100px;
}
#slide1 h1 {
	font-size: 36px;
}
#slide2 {
	min-height: 530px;
}
p {
	text-align: left;
}
#footer {
	height: 150px;
}
}
@media (max-width: 370px) {


}