#leaflet{
  margin:0px;
  padding:0px;
  height:600px;
  }

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	}

.starter-template {
 
	}

.row {
	margin: 0px;
	padding: 0px;
	}

/* TAGS */


/* TOP SLIDE */
.row[role="top-slide"]{
	width: 100%;
	min-height: 700px;
	padding-top: 60px;
	padding-bottom: 33px;
	background-image: url('../images/subtle_dots.png');
    }
    
.expl {
	margin-top: 66px;
	font-size: 16px;
	line-height: 1.5;
	color: #545454;
}    

#logo {
	width: 250px;
	height: 350px;
	background-color: #ccc;
	margin-bottom: 44px;
	margin: 0 auto;
}
    
/* END TOP SLIDE*
    
/* MAP SLIDE */    
.row[role="map"]{
	width: 100%;
	min-height: 600px;
	background-color: #333;
    }

/* END MAP SLIDE */    
    
/* FINISH SLIDE */    
.row[role="finish"]{
	width: 100%;
	min-height: 500px;
	background-color: #52c2ff;
    }    
    
/* END FINISH SLIDE */