#pin  {
	background-image: url("img/pin.png");
	text-indent: -9999px;
	display:block;
	height: 188px;
	width: 135px;
	position: absolute;
	top: -400px;
	left:360px;
	z-index:80;
}

#marker  {
	background-image: url("img/marker.png");
	text-indent: -9999px;
	display:block;
	height: 38px;
	width: 26px;
	position: absolute;
	top: -800px;
	left:330px;
	z-index:60;
}
#marker2  {
	background-image: url("img/marker.png");
	text-indent: -9999px;
	display:block;
	height: 38px;
	width: 26px;
	position: absolute;
	top: -170px;
	left:520px;
	z-index:70;
}